body{
	background-image: url("imagini/fundal12.jpg");
	color:#000305;
	font-size:87.5%; /*Base font size is 14px */
	font-family: Arial, 'Lucida sans Unicode';
	line-height:1.5;
	text-align:left;	
}

a{
	text-decoration:none;
}

a:link, a:visited{
	color:#ff9933;
	
}

a:hover, a:active{
	background-color:#ff9933;
	color:#fff;
	
}


.body {
	margin:0 auto;
	width:90%;
	clear:both;
}

.mainheader img {
	width:100%;
	height:auto;
	margin:2% 0;
}

.mainHeader nav{
	background-color:#ff9933;
	height:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainHeader nav ul{
	list-style:none;
	margin:0 auto;
}

.mainHeader nav ul li {
	float:left;
	display:inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color:#FFF;
	display:inline-block;
	padding:10px 25px;
	height:20px;
	
}


.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
	background-color:#ff9933;
	text-shadow:none;
}
	
	
.mainHeader nav ul li a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainContent {
	line-height:25px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
}

.content {
	width:70%;
	float:left;
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
}
	
	/*
	
@media only screen and (min-width: 150px) and (max-width: 600px)
{
	
.body {
	width:90%;
	font-size:95%;
}

.mainheader img {
	width:100%;

}

.mainHeader nav{
	height:160px;
}

.mainHeader nav ul{
	padding-left:0;
}

.mainHeader nav ul li {
	width:100%;
	margin:0 auto;
	text-align:center;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	padding:10px 25px;
	height:20px;
	display:block;
	
}



.content {
	width:100%;
	float:left;
	margin-top:2%;

	
	*/