#navMenu {
	margin:0;
	padding:0;
	}

#navMenu ul {
	margin:0;
	padding:0;
	line-height:30px;
}

#navMenu li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	position:relative;
	background:#4d94ff;
}

#navMenu ul li a{
	text-align:center;
	font-family:"Comic sans MS";
	text-decoration:none;
	height:60px;
	width:200px;
	display:block;
	color:#FFF;
	border:1px solid #fff;
	
}

#navMenu ul ul {
	position:absolute;
	visibility:hidden;
	top:32px;
}

#navMenu ul li:hover ul {
	visibility:visible;
	
}

/******************************/

#navMenu li:hover {
	background:#09F;
}

#navMenu ul li:hover ul li a:hover {
	background:#b3d9ff;
	color:#000;
}

#navMenu a:hover{
	color:#000;
}

	


.clearFloar {
	clear:both;
	margin:0;
	padding:0;
} 




/*Pana aici a fost meniul drop-drown */





body{
	background-image:url(imagini/fundal12.jpg);
}



h1, h4{
	font-family:"Comic sans MS";
	text-align:center;
	letter-spacing:0.5px;
}


h3 {
	font-family:"Comic sans MS";
	text-align:left;
	letter-spacing:0.5px;
}



p{
	font-family:"Comic sans MS";
	text-align:left;
	text-indent:50px;
	letter-spacing:0.5px;
}

ul{
	font-family:"Comic sans MS";
	list-style-type:square;
	letter-spacing:0.5px;
}




#imgf {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	
}

#imgf:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}




/*Imaginile:*/


div.img1 {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img1 img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img1 a:hover img {
    border:1px solid #0000ff;
}


div.img2 {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img2 img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img2 a:hover img {
    border:1px solid #0000ff;
}


div.img3 {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img3 img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img3 a:hover img {
    border:1px solid #0000ff;
}


div.img4 {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
}

div.img4 img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img4 a:hover img {
    border:1px solid #0000ff;
}



/*Pt linkuri:*/
a:link {
    text-decoration: none;
	color:#99c2ff;
}

a:visited {
    text-decoration: none;
	color:#0d1926;
}

a:hover {
    text-decoration: underline;
	color:#fff;
}

a:active {
    text-decoration: underline;
}

.header{
	margin-top:20px;
}

.header2{
	margin-top:40px;
}


.content{
	float:left;
	margin-top:20px;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:40px;
}

	

